*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,Helvetica,sans-serif;
background:#f8f8f8;
color:#333;
line-height:1.6;
}

.hero{
background: linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)), url("imagenes/portada3.png");
background-size:cover;
background-position:center;
height:100vh;
color:white;
}

.menu{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:rgba(0,0,0,.4);
}

.menu h2{
font-size:28px;
}

.menu ul{
display:flex;
list-style:none;
gap:20px;
}

.menu a{
color:white;
text-decoration:none;
font-weight:bold;
}

.portada{
    height:85%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px 20px;
}

.portada h1{
font-size:50px;
margin-bottom:20px;
}

.portada p{
font-size:22px;
margin-bottom:30px;
}

.boton{
background:#d62828;
color:white;
padding:15px 35px;
text-decoration:none;
border-radius:30px;
font-weight:bold;
}

section{
padding:60px 25px;
max-width:1100px;
margin:auto;
}

section h2{
font-size:36px;
margin-bottom:20px;
color:#b8860b;
}

@media(max-width:768px){

.menu{
flex-direction:column;
}

.menu ul{
flex-direction:column;
text-align:center;
margin-top:15px;
}

.portada h1{
font-size:34px;
}

}
.logo{
    width:140px;
    margin-bottom:20px;
}

.subtitulo{
    font-size:28px;
    margin:15px 0;
    font-weight:500;
}

.frase{
    font-size:22px;
    color:#f7d46d;
    font-style:italic;
    max-width:700px;
    margin:25px auto;
    line-height:1.5;
}

.historia{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:50px;
    padding:80px 10%;
    background:#fffdf8;
}

.historia-imagen img{
    width:350px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.historia-texto{
    max-width:700px;
}

.historia-texto h2{
    font-size:42px;
    color:#c62828;
    margin-bottom:20px;
}

.historia-texto p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:18px;
}

.datos{
    display:flex;
    gap:20px;
    margin-top:35px;
    flex-wrap:wrap;
}

.datos div{
    flex:1;
    min-width:150px;
    background:#fff;
    padding:20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.12);
}

.datos h3{
    color:#d62828;
    font-size:30px;
}

.datos span{
    font-size:15px;
}

@media(max-width:768px){

.historia{
flex-direction:column;
padding:60px 25px;
text-align:center;
}

.historia-imagen img{
    width:340px;
    height:340px;
    object-fit:cover;
    border-radius:50%;
    border:8px solid #fff;
}

}
